<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>About Me</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>About Me</nz-page-header-title>
  <nz-page-header-subtitle
    >General information about my background, skills and
    experience.</nz-page-header-subtitle
  >
</nz-page-header>

<nz-tabset nzAnimated="false">
  <nz-tab nzTitle="Background"
    ><app-background-tab-pane></app-background-tab-pane
  ></nz-tab>
  <nz-tab nzTitle="Skills and experience"
    ><app-skills-tab-pane></app-skills-tab-pane
  ></nz-tab>
  <nz-tab nzTitle="Certificates"
    ><app-certificates-tab-pane></app-certificates-tab-pane
  ></nz-tab>
</nz-tabset>
