<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Projects</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>Projects</nz-page-header-title>
  <nz-page-header-content>
    <span nz-typography nzType="secondary"
      >Some of the projects I have built.</span
    >
  </nz-page-header-content>
</nz-page-header>

<p nz-typography style="margin-bottom: 24px">
  Open the below panels to view the tech stack involved in each project.
</p>

<nz-collapse>
  <nz-collapse-panel
    *ngFor="let project of projects"
    [nzHeader]="project.name"
    [nzActive]="project.active"
    [nzExtra]="actions"
  >
    <nz-descriptions nzLayout="vertical" class="descriptions">
      <nz-descriptions-item nzTitle="Tech Stack Used">
        <ul>
          <li *ngFor="let line of project.techStack">{{ line }}</li>
        </ul>
      </nz-descriptions-item>
    </nz-descriptions>
    <ng-template #actions>
      <nz-space>
        <ng-container *ngIf="project.demoUrl">
          <a *nzSpaceItem href="{{ project.demoUrl }}" target="_blank"
            >View Demo</a
          >
          <nz-divider *nzSpaceItem nzType="vertical"></nz-divider>
        </ng-container>
        <a *nzSpaceItem href="{{ project.repoUrl }}" target="_blank"
          >View Repository</a
        >
      </nz-space>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>

<!-- <nz-list nzBordered>
  <app-project
    name="Blazor Todo App"
    repoUrl="https://portfolio.christiaanvandermerwe.com/projects/blazor-todo-app"
  ></app-project>
  <app-project
    name="Books Directory - .NET 5 WebAPI"
    repoUrl="https://portfolio.christiaanvandermerwe.com/projects/book-directory-dot-net"
  ></app-project>
  <app-project
    name="Personal CRM (Frontend)"
    repoUrl="https://github.com/Itsthatotherguy/personal-crm-frontend"
    demoUrl="http://personal-crm-cvdm.co.za.s3-website-eu-west-1.amazonaws.com/"
  ></app-project>
  <app-project
    name="Personal CRM (Backend)"
    repoUrl="https://github.com/Itsthatotherguy/personal-crm-backend"
  ></app-project>
  <app-project
    name="Notetaking App (Frontend)"
    repoUrl="https://github.com/Itsthatotherguy/notetaking-app-frontend"
  ></app-project>
  <app-project
    name="Notetaking App (Backend)"
    repoUrl="https://github.com/Itsthatotherguy/notetaking-app-backend"
  ></app-project>
  <app-project
    name="Basic Tax Calculator"
    repoUrl="https://github.com/Itsthatotherguy/tax-calculator"
    demoUrl="https://itsthatotherguy.github.io/tax-calculator"
  >
  </app-project>
</nz-list> -->
