<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Projects</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>Projects</nz-page-header-title>
  <nz-page-header-subtitle
    >Some of the projects I have built.</nz-page-header-subtitle
  >
</nz-page-header>

<nz-list nzBordered>
  <app-project
    name="Blazor Todo App"
    repoUrl="https://portfolio.christiaanvandermerwe.com/projects/blazor-todo-app"
  ></app-project>
  <app-project
    name="Books Directory - .NET 5 WebAPI"
    repoUrl="https://portfolio.christiaanvandermerwe.com/projects/book-directory-dot-net"
  ></app-project>
  <app-project
    name="Personal CRM (Frontend)"
    repoUrl="https://github.com/Itsthatotherguy/personal-crm-frontend"
    demoUrl="http://personal-crm-cvdm.co.za.s3-website-eu-west-1.amazonaws.com/"
  ></app-project>
  <app-project
    name="Personal CRM (Backend)"
    repoUrl="https://github.com/Itsthatotherguy/personal-crm-backend"
  ></app-project>
</nz-list>
