<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Contact</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>Contact</nz-page-header-title>
  <nz-page-header-content>
    <span nz-typography nzType="secondary">How to get hold of me.</span>
  </nz-page-header-content>
</nz-page-header>

<ul>
  <li>
    <a
      href="mailto:chrisvdm0410@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      >Email</a
    >
  </li>
  <li>
    <a
      href="https://github.com/itsthatotherguy"
      target="_blank"
      rel="noopener noreferrer"
      >Github</a
    >
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/chris-van-der-merwe-b5629646/"
      target="_blank"
      rel="noopener noreferrer"
      >Linkedin</a
    >
  </li>
</ul>
