<h2 nz-typography>Before the journey started</h2>
<p nz-typography>
  I was born and raised in Centurion, Pretoria, attending Hoërskool Centurion.
  During highschool, one of my chosen subjects was Information Technology, which
  included a programming element. While I got a distinction for it, when I went
  on to university, I switched my focus to a more commerce-related degree,
  getting a Bachelor's in Financial Management Sciences from the University of
  Pretoria.
</p>
<p nz-typography>
  After university, I earned the qualification Professional Accountant (SA) and
  went on to work in private practice accounting for 5 years. Even though I am
  now longer involved in full-time accounting, I remain a full member in good
  standing of the South African Institute of Professional Accountants. I then
  went on to help out with support at my father's company, Fincon Information
  Technology, which is where I still work to this day. Being a software company,
  my time here has exposed my to the world of coding and this is really where my
  interest in pursuing this as a career started.
</p>

<h2 nz-typography>The journey so far</h2>
<p nz-typography>
  I have been coding in my spare time for about 4 years now, initially focusing
  on Javascript and related technologies, moving on to Typescript, and finally
  settling into the world of .NET. While I enjoy backend development more, I am
  familiar with several frontend frameworks and do all the frontend development
  for the projects presented in this portfolio.
</p>
<p nz-typography>
  I enjoy learning new technologies and keeping my existing skills sharp and am
  looking at transitioning into a full-time web development role.
</p>
