<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Resume</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>Resume</nz-page-header-title>
  >
</nz-page-header>

<nz-back-top></nz-back-top>

<nz-space nzDirection="vertical" style="width: 100%">
  <nz-card *nzSpaceItem nzTitle="Personal Information">
    <nz-descriptions nzBordered [nzColumn]="1">
      <nz-descriptions-item nzTitle="Name"
        >Christiaan van der Merwe</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Gender">Male</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Date of birth"
        >4 October 1990</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Languages"
        >Afrikaans & English</nz-descriptions-item
      >
    </nz-descriptions>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Education">
    <nz-space nzSize="middle" nzDirection="vertical" style="width: 100%">
      <nz-descriptions
        *nzSpaceItem
        nzTitle="Tertiary Education"
        nzBordered
        [nzColumn]="1"
      >
        <nz-descriptions-item nzTitle="Institution"
          >University of Pretoria</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Degree"
          >Bcom Financial Management Sciences</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Graduated">2011</nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions
        *nzSpaceItem
        nzTitle="Secondary Education"
        nzBordered
        [nzColumn]="1"
      >
        <nz-descriptions-item nzTitle="School"
          >Hoërskool Centurion</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Matriculated">2008</nz-descriptions-item>
      </nz-descriptions>
    </nz-space>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Professional Qualifications">
    <nz-descriptions nzBordered [nzColumn]="1">
      <nz-descriptions-item nzTitle="Institution"
        >South African Institute of Professional
        Accountants</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Qualification"
        >Professional Accountant (SA)</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Year Obtained">2015</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status"
        >In good standing</nz-descriptions-item
      >
    </nz-descriptions>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Work Experience">
    <nz-space nzSize="middle" nzDirection="vertical" style="width: 100%">
      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Superior Choices</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Junior Accontant</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >April 2012 - August 2012</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Reason for leaving"
          >Temporary contract</nz-descriptions-item
        >
      </nz-descriptions>
      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Accountants-on-site</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Accounting Articles Clerk</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >August 2012 - August 2015</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Reason for leaving"
          >Promoted to accounting manager</nz-descriptions-item
        >
      </nz-descriptions>
      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Accountants-on-site</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Accontanting Manager</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >August 2015 - December 2016</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Reason for leaving"
          >I moved to help my father at his company</nz-descriptions-item
        >
      </nz-descriptions>
      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Fincon Information Technology</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job title"
          >Customer Support Manager</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >January 2017 - Present</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Reason for leaving"
          >I want to start a coding career.</nz-descriptions-item
        >
      </nz-descriptions>
    </nz-space>
  </nz-card>
</nz-space>
