<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Resume</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-page-header>
  <nz-page-header-title>Resume</nz-page-header-title>
  >
</nz-page-header>

<nz-back-top></nz-back-top>

<nz-space nzDirection="vertical" style="width: 100%">
  <nz-card *nzSpaceItem nzTitle="Personal Information">
    <nz-descriptions nzBordered [nzColumn]="1">
      <nz-descriptions-item nzTitle="Name"
        >Christiaan van der Merwe</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Gender">Male</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Date of birth"
        >4 October 1990</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Languages"
        >Afrikaans & English</nz-descriptions-item
      >
    </nz-descriptions>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Education">
    <nz-space nzSize="middle" nzDirection="vertical" style="width: 100%">
      <nz-descriptions
        *nzSpaceItem
        nzTitle="Tertiary Education"
        nzBordered
        [nzColumn]="1"
      >
        <nz-descriptions-item nzTitle="Institution"
          >University of Pretoria</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Degree"
          >Bcom Financial Management Sciences</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Graduated">2011</nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions
        *nzSpaceItem
        nzTitle="Secondary Education"
        nzBordered
        [nzColumn]="1"
      >
        <nz-descriptions-item nzTitle="School"
          >Hoërskool Centurion</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Matriculated">2008</nz-descriptions-item>
      </nz-descriptions>
    </nz-space>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Professional Qualifications">
    <nz-descriptions nzBordered [nzColumn]="1">
      <nz-descriptions-item nzTitle="Institution"
        >South African Institute of Professional
        Accountants</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Qualification"
        >Professional Accountant (SA)</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Year Obtained">2015</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Membership Number"
        >30267</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Status"
        >In good standing</nz-descriptions-item
      >
    </nz-descriptions>
  </nz-card>

  <nz-card *nzSpaceItem nzTitle="Work Experience">
    <nz-space nzSize="middle" nzDirection="vertical" style="width: 100%">
      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Fincon Information Technology</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job title"
          >Customer Support Manager</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >January 2017 - Present</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Responsibilities">
          <ul>
            <li>Handling telephone and email support requests.</li>
            <li>
              Providing consultation on financial and accounting matters
              pertaining the use of the software.
            </li>
            <li>Implementing the software for new clients.</li>
            <li>Sending quotations out to prospective customers.</li>
            <li>
              Assisting the bookkeeper with VAT and PAYE discrepancies when they
              come up.
            </li>
            <li>
              Assisting the product team with how new features should approach
              accounting and tax every now and then.
            </li>
          </ul>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Reason for leaving"
          >I want to start a coding career.</nz-descriptions-item
        >
      </nz-descriptions>

      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Accountants-on-site</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Accounting Manager</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >August 2015 - December 2016</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Responsibilities">
          <ul>
            <li>
              Managing a team of article clerks, ensuring that their deadlines
              were met.
            </li>
            <li>
              Reviewing monthly management reports compiled by the article
              clerks.
            </li>
            <li>
              Reviewing annual financial statements compiled by the article
              clerks.
            </li>
            <li>
              Reviewing all VAT, PAYE and income tax returns created by the
              article clerks.
            </li>
            <li>Monthly VAT submissions.</li>
            <li>Monthly PAYE submissions.</li>
            <li>Bi-annual provisional tax submissions.</li>
            <li>
              Annual income tax submissions (For individuals, trusts and
              companies).
            </li>
          </ul>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Reason for leaving"
          >I moved to help my father at his company</nz-descriptions-item
        >
      </nz-descriptions>

      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Accountants-on-site</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Accounting Articles Clerk</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >August 2012 - August 2015</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Responsibilities">
          <ul>
            <li>Monthly capturing of client transactions.</li>
            <li>Monthly compiling of management reports.</li>
            <li>Annual compiling of financial statements.</li>
            <li>Monthly VAT reconciliations.</li>
            <li>Monthly VAT submissions.</li>
            <li>Monthly PAYE submissions.</li>
            <li>Bi-annual provisional tax submissions.</li>
            <li>
              Annual income tax submissions (For individuals, trusts and
              companies).
            </li>
            <li>
              Regular liaising, objections and dispute resolution with SARS.
            </li>
          </ul>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Reason for leaving"
          >Promoted to accounting manager</nz-descriptions-item
        >
      </nz-descriptions>

      <nz-descriptions *nzSpaceItem nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Company"
          >Superior Choices</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Job Title"
          >Junior Accontant</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Period of employment"
          >April 2012 - August 2012</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Responsibilities">
          <ul>
            <li>
              Assisting with processing transactions in accounting software.
            </li>
          </ul>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Reason for leaving"
          >Temporary contract</nz-descriptions-item
        >
      </nz-descriptions>
    </nz-space>
  </nz-card>
</nz-space>
